
html, body {
  margin: 0;
  width: 100%;

  background-color:#f0f0f0 !important;

}

html{
    height: 100%;
    /* overflow: hidden; */
    /* padding-top: 50px !important; */
}


.navbar-image {
   max-height:20px
}

@media (max-width: 400px){
  .navbar-image {
     width:250px !important;
  }
}

@media (max-width: 350px){
  .navbar-image {
     width:200px !important;
  }
}

.navbar {
  font-size: 10pt;
  z-index: 3 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 60px; /* Establecer una altura fija */
  background-color: #f8f9fa; /* Asegurar que siempre tiene fondo */
  padding-left: 0 !important; 
}


.sidebar {
   position: absolute;
   top: 60px !important; /* Dejar espacio debajo del navbar */
   z-index: 2 !important;
   height: calc(100% - 60px) !important; /* Ajustar la altura del sidebar */
}

.sidebar-tabs > li, .sidebar-tabs > ul > li, .sidebar-close {
  padding-top: 10px !important;
}

.navbar {
  display: flex;
  align-items: center; /* Vertically center content */
  padding: 0 15px; /* Optional: padding for the navbar */
  background-color: #f8f9fa; /* Optional: background color for navbar */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px;
  width: 350px;
  background-image: url('/static/img/obradors_compartits_logo_horiz.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Ensures the background is centered */
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
.navbar-logo {
    background-image: url('/static/img/logo.png');
    height: 50px;
    width: 100px;
}
}


/* Para pantallas pequeñas (mobile) */
@media (max-width: 500px) {
  .navbar-einateca {
     height: 40px;
     width: 7px;
  }
}
/* Para pantallas pequeñas (mobile) */
@media (max-width: 768px) {
   .navbar {
      height: 90px; /* Aumentar la altura en dispositivos móviles */
   }

   .navbar-collapse {
    background-color: #f8f9fa; /* Fondo cuando se expande el menú en mobile */      
    top: 90px !important; /* Asegurarse de que el sidebar esté debajo del navbar cuando este aumenta de altura */
 }
   
   .sidebar {
      top: 90px !important; /* Asegurarse de que el sidebar esté debajo del navbar cuando este aumenta de altura */
      height: calc(100% - 90px) !important; /* Ajustar la altura del sidebar */
   }
}



#map {
  z-index: 0 !important;
  height: 85% !important;
  width: auto;
}


/* .navbar {
  min-height: 50px !important;
} */

.registerButtonBox {
  position: absolute;
  right: 15px;
  top: 30px;
  z-index: 2000;
}
.lvl2 {
  margin-left: 30px;
}

.point_in_filter{
    font-size: 8pt !important;
    padding-left: 10px;
}
.card-title {
  font-size: 14.4pt !important;
}
.card-text{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mapheader{
    display: table; /* keep the background color wrapped tight */
    /*margin: 0px auto 0px auto;  keep the table centered */
    margin-left: 40%;
    padding:5px;
    text-align: center;
    font: 14pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 10px;
    z-index: 500!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    background-color:rgba(212,0,0,0.2);
}

@media (max-width: 600px) {
    .mapheader{
        /* display: table; /* keep the background color wrapped tight */ */
        /*margin: 0px auto 0px auto;  keep the table centered */
        padding:5px;
        margin-left: 0;
        color: black;
        background-color:rgba(212,0,0,0.2);
        font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        position: fixed;
        bottom: 10px;
        z-index: 500!important;
    }
}

.sc-card-img-top {
    width: auto !important;
    display: block;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

#rightCard {
  position: absolute;
  right: -300px;
  top: 0;
  max-width: 300px;
  max-height: 100%;
  overflow-y: scroll;
  z-index: 2000;
  background: #ffffff;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}
.rightCard-show {
  right: 0px!important;
}
.hidden {
  visibility: hidden;
}
.marker {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* box-shadow: 0 0 5px 5px rgba(66, 134, 244, 0.2); */
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
/* .marker:hover {
  border: 2px solid #000000;
} */

.routeMarker {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(65, 202, 244);
  box-shadow: 0 0 5px 5px rgba(65, 202, 244, 0.2);
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
.lnMarker {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(43, 216, 129);
  box-shadow: 0 0 5px 5px rgba(43, 216, 129, 0.2);
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
.marker-red {
  box-shadow: 0 0 5px 5px rgba(244, 78, 66, 0.2)!important;
}
.marker-blue {
  box-shadow: 0 0 5px 5px rgba(63, 154, 244, 0.2)!important;
}
.slide {
     margin-top: 15px;
     margin-bottom: 15px;
}


.strike {
  text-decoration: line-through;
}

.circle {
  display: inline-block;
  margin-top: -6px;
  vertical-align: middle;
}
.circle img{
  margin: 7px 2px 0 2px;
}
