{% extends "base.html" %}
{% load i18n %}

<!--{% load  static  %}-->
<!--{% load i18n %}-->

{% block extra_head %}

<link rel="stylesheet" href="/static/css/custom_pages.css" />
{% endblock %}
{% block content %}
    {% include "frontend/navbar.html" %}

<div class="page_content">
	<div class="container-lg">

	    <h1 class="page-title">Dades contacte</h1>

<i class="fas fa-envelope-open fa-2x"></i> <a href="mailto:cooperativa@trescadires.cat"> cooperativa@trescadires.cat</a>
<br><br><a target="_blank" href="https://t.me/obradorscompartits"><img style="margin-left:-5px; max-height:40px" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Telegram_Messenger.png"> Grup de telegram</a>
</div>
</div>
{% endblock %}
