{% extends "base.html" %}
{% load i18n %}

<!--{% load  static  %}-->
<!--{% load i18n %}-->

{% block extra_head %}

    <link rel="stylesheet" href="/static/css/custom_pages.css" />


<script>
      $(document).ready(function(){
      	// Add minus icon for collapse element which is open by default
      	$(".collapse.show").each(function(){
      		$(this).prev(".card-header").addClass("highlight");
      	});

      	// Highlight open collapsed element
      	$(".card-header .btn").click(function(){
      		$(".card-header").not($(this).parents()).removeClass("highlight");
      		$(this).parents(".card-header").toggleClass("highlight");
      	});
      });
</script>

{% endblock %}
{% block content %}
    {% include "frontend/navbar.html" %}

<div class="page_content">
<div class="container-lg">
  <div class="row">
    <h1 class="page-title">Com interpretar el mapa</h1>
  <ul><li>Les casuístiques d'obradors són molt variades, i les possibilitats tècniques del mapa més limitades. Així doncs les categories i colors són un primer filtratge visual, i cal entrar a la fitxa de cada obrador per tenir la informació completa.</li>
  <li>Els obradors van classificats (a la llegenda i també per color del seu punter) segons les claus sanitàries que tenen donades d'alta. Així, un obrador pot estar en diverses categories tot i que la seva icona només sigui d'un o dos colors.</li>
  <li>El cercle al voltant del punter indica si l'obrador és ecològic o de capital social. Si és ambdues coses, es veu dins la fitxa.</li>
  <li>Tota la informació de cada fitxa, inclosos els criteris, són facilitats pels propis obradors. Aquest web no es fa responsable de la informació facilitada.</li>
  <li>A la fitxa de cada obrador es pot veure la data d'última actualització de la informació.</li></ul>
  </div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-title">FAQs</h1>
			<div class="accordion" id="accordionExample">
        <h5 class="page-subtitle"><span>Conceptes Clau</span></h5>

				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="clearfix mb-0">
							<a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-chevron-circle-down"></i>Obrador compartit</a>
						</h2>
					</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">Un obrador compartit és un espai gestionat de forma col·lectiva, en alguns casos amb participació de l’Administració, que es dedica a la transformació d’aliments. Es pot configurar com un local de transformació d’un tipus de producte determinat, com ara lactis i carnis, o més diversificat. [definició extra del manual d'obradors compartits]</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-chevron-circle-down"></i>Obrador públic</a>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">Obrador impulsat des d'alguna administració pública (ajuntament, consell comarcal, Generalitat..)</div>
				</div></div>

				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-chevron-circle-down"></i>Obrador de capital social</a>
						</h2>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">Obrador impulsat per iniciatives sense ànim de lucre (associació, cooperativa, fundació, etc.) o comunitari</div>
		      </div></div>

        <div class="card">
					<div class="card-header" id="headingFour">
  						<h2 class="mb-0">
  							<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <i class="fa fa-chevron-circle-down"></i>Obrador privat</a>
  						</h2>
  					</div>
  					<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
  						<div class="card-body">Obrador impulsat per un particular o empresa amb ànim de lucre</div>
  				</div>
        </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <i class="fa fa-chevron-circle-down"></i>Obrador comunitari</a>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">Un obrador comunitari és aquell on no només es comparteixen les instal·lacions sinó que es gestiona, es prenen desicions i s'assumeixen responsabilitats de forma compartida.</div>
      </div>
    </div>

      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <i class="fa fa-chevron-circle-down"></i>Obrador en construcció</a>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">Obrador camí de ser una realitat però no encara en funcionament. Així ja pot donar-se a conèixer i trobar elaboradores interessades per quan s'inauguri.</div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
          <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <i class="fa fa-chevron-circle-down"></i>Obrador blanc</a>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">Obrador que ofereix servei de transformació com a servei o "a maquila". Fan la feina per encàrrec i amb les matèries primeres d'altri. Si això no és un servei complementari, sinó que només ofereixen aquesta opció, llavors no s'entén com a obrador compartit com a tal.</div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingEight">
        <h2 class="mb-0">
          <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <i class="fa fa-chevron-circle-down"></i>Obrador ecològic</a>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">Obrador en el qual s'hi elaboren transformats ecològics (fets amb matèries primeres ecològiques)</div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingNine">
        <h2 class="mb-0">
          <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <i class="fa fa-chevron-circle-down"></i>Viver agroalimentari</a>
        </h2>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
        <div class="card-body">Obrador compartit públic en el qual, a més, se sol donar suport a les elaboradores a nivell empresarial (assessorament tècnic, legal, econòmic, etc.). Acostuma a tenir un límit d'anys que les elaborades s'hi poden estar.</div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTen">
        <h2 class="mb-0">
          <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <i class="fa fa-chevron-circle-down"></i>Obrador de cosmètica</a>
        </h2>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
        <div class="card-body">Obrador on es realitza artesania cosmètica. Tot i no ser un producte agroalimentari, tenen molt pes en la petita elaboració i en el sector dels obradors compartits.</div>
      </div>

		</div>




    <!-- SECCIO: Vull fer-me una idea de qué és un obrador compartit -->
      <div class="accordion" id="accordion2">
        <h5 class="page-subtitle"><span>Vull fer-me una idea de qué és un obrador compartit...</span></h5>

        <div class="card"> <div class="card-header" id="headingSec2_Q1">
            <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q1" aria-expanded="true" aria-controls="collapseSec2_Q1">
                <i class="fa fa-chevron-circle-down"></i>Un obrador compartit i un obrador col·lectiu són el mateix?</a></h2>
          </div> <div id="collapseSec2_Q1" class="collapse" aria-labelledby="headingSec2_Q1" data-parent="#accordion2">
            <div class="card-body">Ambdós denominacions solen fer-se servir indistintament. Tot i així, un obrador col·lectiu és realment un obrador compartit de tipus comunitari. Veure a dalt la definició d'obrador comunitari.</div>
          </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q2">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q2" aria-expanded="true" aria-controls="collapseSec2_Q2">
                  <i class="fa fa-chevron-circle-down"></i>Quines categories hi ha d'obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q2" class="collapse" aria-labelledby="headingSec2_Q2" data-parent="#accordion2">
              <div class="card-body">Un obrador compartit sol tenir una forma jurídica o organització a darrera, i per això diem que és públic, privat o de capital social. Si a part de permetre l'accés de les elaboradores, també s'ofereix (des de l'obrador en conjunt o des d'una elaboradora en particular) servei de transformació per a tercers, llavors també parlem d'un '"obrador blanc". Si l'obrador ofereix la possibilitat d'elaborar transformats ecològics (certificats d'alguna manera o no), parlem d'un obrador ecològic.</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q3">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q3" aria-expanded="true" aria-controls="collapseSec2_Q3">
                  <i class="fa fa-chevron-circle-down"></i>Què es pot elaborar en un obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q3" class="collapse" aria-labelledby="headingSec2_Q3" data-parent="#accordion2">
              <div class="card-body">D'entrada s'hi hauria de poder elaborar qualsevol producte que requereixi d'un obrador agroalimentari per fer-lo. Sí que és veritat que els productes d'origen animal tenen més riscos i requereixen de més mesures de seguretat alimentària que dificulten que es puguin fer en obradors compartits amb productores que treballin amb diferents matèries primeres. Per això se solen fer obradors compartits especialitzats en aquella tipologia.</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q4">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q4" aria-expanded="true" aria-controls="collapseSec2_Q4">
                  <i class="fa fa-chevron-circle-down"></i>Quins espais i maquinària té un obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q4" class="collapse" aria-labelledby="headingSec2_Q4" data-parent="#accordion2">
              <div class="card-body">El mateix que pugui tenir un obrador que no sigui compartit. El bàsic i imprescindible és una sala d'elaboració amb punt d'aigua. El magatzem no és obligatori, però si molt útil per a cada elaboradora i també per a bastir projectes conjunts. La maquinària i estris a disposició de totes les elaboradores depèn del tipus de productes que es desitja que s'hi puguin fer.</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q5">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q5" aria-expanded="true" aria-controls="collapseSec2_Q5">
                  <i class="fa fa-chevron-circle-down"></i>Com es gestiona un obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q5" class="collapse" aria-labelledby="headingSec2_Q5" data-parent="#accordion2">
              <div class="card-body">Un obrador compartit es pot gestionar de diverses maneres. Pot ser que estigui gestionat directament per la propietat, o que s'hagi subcontractat la gestió a una empresa externa. Sigui com sigui, cal portar un control de qui hi participa i de quins dies/hores ha anat cada elaboradora per tenir  traçabilitat en cas d'incidència, organitzar el calendari i cobrar les eventuals quotes. La participació i el funcionament  han d'estar regulats (contracte, reglament de règim intern, documentació necessària, etc.) per evitar malentesos i problemes jurídics. La gestió pot ser més vertical o més horitzonal, fins i tot comunitària, amb una governança més o menys participada.</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q6">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q6" aria-expanded="true" aria-controls="collapseSec2_Q6">
                  <i class="fa fa-chevron-circle-down"></i>Com es determinen les quotes econòmiques per participar en un obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q6" class="collapse" aria-labelledby="headingSec2_Q6" data-parent="#accordion2">
              <div class="card-body">Cada obrador les determina com vol. Si té ànim de lucre, segurament seran més elevades i rígides. Sol ser una quota per hores/dies d'ús i/o  quota anual. Fixar una quota anual alta serveix per involucrar més les elaboradores i potenciar que facin més ús de l'obrador, però pot fer que elaboradores de temporada o de produccions molt petites no els hi surti a compte. Les instal·lacions de l'obrador i les tipologies de productes que s'hi poden fer també solen influir en la quota. Cal preguntar a cada obrador (o mirar si les tenen publicades al seu web) per saber-les.</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q7">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q7" aria-expanded="true" aria-controls="collapseSec2_Q7">
                  <i class="fa fa-chevron-circle-down"></i>Com es prenen les decisions en un obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q7" class="collapse" aria-labelledby="headingSec2_Q7" data-parent="#accordion2">
              <div class="card-body">Depèn de qui el gestioni i de la governança establerta. Normalment qui el gestiona és qui pren les decisions, però sovint s'obren algunes d'aquestes a les membres de l'obrador en reunions periòdiques o directament es prenen de forma comunitària (obradors comunitaris).</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q8">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q8" aria-expanded="true" aria-controls="collapseSec2_Q8">
                  <i class="fa fa-chevron-circle-down"></i>Com es relacionen els obradors compartits amb la pagesia local?</a></h2>
            </div> <div id="collapseSec2_Q8" class="collapse" aria-labelledby="headingSec2_Q8" data-parent="#accordion2">
              <div class="card-body">Els obradors compartits són (o haurien de ser) una eina al servei del sector primari. Una manera de donar valor afegit a les seves produccions i crear riquesa i oportunitats allà on es produeixen els aliments. Molt sovint, però, les elaboradores no són productores primàries, però sí que són compradores dels productes de la petita pagesia local. La petita elaboració sol tenir molt més en compte la proximitat i la implicació amb el territori a l'hora de proveïr-se.
                <br>"Establecer este tipo de instalaciones en un municipio puede tener un efecto llamada para gente recién llegada, para paliar la despoblación del medio rural y ofrecer la transformación alimentaria como una forma de autoocupación a las personas del pueblo. [...]
                <br>Hay dos perfiles de usuarios potenciales: por un lado, las personas que tienen producción primaria, puesto que pueden transformar sus excedentes y ponerlos envasados en el mercado; por otro lado, quienes ya están elaborando a pequeña escala en obradores domésticos podrían obtener un registro sanitario para comercializar sus productos" (Dopazo, 2017)</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q9">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q9" aria-expanded="true" aria-controls="collapseSec2_Q9">
                  <i class="fa fa-chevron-circle-down"></i>Com es comercialitzen els productes d'un obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q9" class="collapse" aria-labelledby="headingSec2_Q9" data-parent="#accordion2">
              <div class="card-body">Compartir obrador no vol dir d'entrada compartir comercialització. Però sí que el fet de compartir espai d'elaboració i, molt possiblement, d'emmagatzematge, fa molt més fàcil i lògic compartir també estratègies de comercialització (botiga a l'obrador i botiga online compartida, distribució conjunta..) però també de compres conjuntes, d'elaboracions conjuntes, etc.</div>
            </div> </div>

          <div class="card"> <div class="card-header" id="headingSec2_Q10">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q10" aria-expanded="true" aria-controls="collapseSec2_Q10">
                  <i class="fa fa-chevron-circle-down"></i>Un obrador blanc és un obrador compartit?</a></h2>
            </div> <div id="collapseSec2_Q10" class="collapse" aria-labelledby="headingSec2_Q10" data-parent="#accordion2">
              <div class="card-body">Tècnicament no, ja que per obrador compartit s'entén que les diferents elaboradores que el comparteixen fan elles mateixes la feina d'elaboració. Tot i així, hi ha obradors compartits que a més ofereixen el servei d'obrador blanc com a mecanisme de finançament del propi obrador o d'alguna elaboradora concreta que s'ofereix per a fer aquesta tasca.</div>
            </div> </div>

            <div class="card"> <div class="card-header" id="headingSec2_Q11">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec2_Q11" aria-expanded="true" aria-controls="collapseSec2_Q11">
                    <i class="fa fa-chevron-circle-down"></i>És el mateix un obrador compartit que una cuina compartida?</a></h2>
              </div> <div id="collapseSec2_Q11" class="collapse" aria-labelledby="headingSec2_Q11" data-parent="#accordion2">
                <div class="card-body">No. Tot i que tenen força semblances, les cuines compartides són un model més urbà, lligat a la restauració i al servei de menjar a domicili. Sí que hi ha una categoria en el mapa per la restauració col·lectiva social, que té una clau sanitària com a tal i una vinculació amb el territori on s'ubiquen. </div>
              </div> </div>
      </div>



      <!-- SECCIO: CERCO OBRADOR COMPARTIT ON ELABORAR -->
        <div class="accordion" id="accordion3">
          <h5 class="page-subtitle"><span>Cerco obrador compartit on elaborar...</span></h5>

          <div class="card"> <div class="card-header" id="headingSec3_Q1">
              <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec3_Q1" aria-expanded="true" aria-controls="collapseSec3_Q1">
                  <i class="fa fa-chevron-circle-down"></i>Com puc buscar l'obrador compartit ideal per a mi?</a></h2>
            </div> <div id="collapseSec3_Q1" class="collapse" aria-labelledby="headingSec3_Q1" data-parent="#accordion3">
              <div class="card-body">Buscant-lo al mapa! Primer per zona (la proximitat sol ser un factor determinant), després per clau sanitària (segons el tipus de producte que vulguis elaborar) i finalment per característiques de l'obrador (clicant-lo t'apareixerà la seva fitxa, amb tots els criteris i peculiaritats).
                <br>També pots afegir-te al grup públic de Telegram (cercant ""obradors compartits"") i preguntar per allà. Segur que hi ha gent organitzant-se per impulsar nous obradors compartits.</div>
            </div> </div>

            <div class="card"> <div class="card-header" id="headingSec3_Q2">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec3_Q2" aria-expanded="true" aria-controls="collapseSec3_Q2">
                    <i class="fa fa-chevron-circle-down"></i>Com puc saber si l'obrador compartit té el registre sanitari que necessito?</a></h2>
              </div> <div id="collapseSec3_Q2" class="collapse" aria-labelledby="headingSec3_Q2" data-parent="#accordion3">
                <div class="card-body">Un obrador pot estar donat d'alta de diverses claus/registres sanitaris. Tot i que la icona només n'indica una, a la llegenda del mapa l'obrador apareix a totes les categories/claus que ha indicat que té, i a dins de la fitxa també hi apareixen llistades.</div>
              </div> </div>

            <div class="card"> <div class="card-header" id="headingSec3_Q3">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec3_Q3" aria-expanded="true" aria-controls="collapseSec3_Q3">
                    <i class="fa fa-chevron-circle-down"></i>Com puc saber si a l'obrador compartit es fa alguna mena de tasca social?</a></h2>
              </div> <div id="collapseSec3_Q3" class="collapse" aria-labelledby="headingSec3_Q3" data-parent="#accordion3">
                <div class="card-body">Si té un cercle lila al voltant de la icona, és obrador de capital social. També un cop dins de la fitxa podràs veure alguns criteris de sostenibilitat ambiental i social que el mateix obrador ha indicat.</div>
              </div> </div>

            <div class="card"> <div class="card-header" id="headingSec3_Q4">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec3_Q4" aria-expanded="true" aria-controls="collapseSec3_Q4">
                    <i class="fa fa-chevron-circle-down"></i>Què passa si l'obrador que m'interessa no té magatzem?</a></h2>
              </div> <div id="collapseSec3_Q4" class="collapse" aria-labelledby="headingSec3_Q4" data-parent="#accordion3">
                <div class="card-body">Doncs que o hauràs de produir sota demanda (que vol dir que quan elaboris t'enduràs ja a repartir tot el que hagis elaborat aquell dia i no ho emmagatzemaràs enlloc més enllà de a la teva furgoneta), o caldrà que et legalitzis un magatzem en un altre espai. </div>
              </div> </div>

            <div class="card"> <div class="card-header" id="headingSec3_Q5">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec3_Q5" aria-expanded="true" aria-controls="collapseSec3_Q5">
                    <i class="fa fa-chevron-circle-down"></i>Com puc contactar amb la persona o entitat que gestiona l'obrador compartit?</a></h2>
              </div> <div id="collapseSec3_Q5" class="collapse" aria-labelledby="headingSec3_Q5" data-parent="#accordion3">
                <div class="card-body">Clica a l'obrador en qüestió i se te n'obrirà la fitxa. Allà hi trobaràs les seves dades de contacte.</div>
              </div> </div>

            <div class="card"> <div class="card-header" id="headingSec3_Q6">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec3_Q6" aria-expanded="true" aria-controls="collapseSec3_Q6">
                    <i class="fa fa-chevron-circle-down"></i>Quina despesa em pot suposar participar d'un obrador compartit?</a></h2>
              </div> <div id="collapseSec3_Q6" class="collapse" aria-labelledby="headingSec3_Q6" data-parent="#accordion3">
                <div class="card-body">Depèn de cada obrador. Normalment hauràs d'assumir unes quotes anuals i/o d'ús. Sigui com sigui, segur que et resultarà més econòmic que no pas haver de fer-te el teu propi obrador. I segur que serà molt més enriquidor!</div>
              </div> </div>

            <div class="card"> <div class="card-header" id="headingSec3_Q7">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec3_Q7" aria-expanded="true" aria-controls="collapseSec3_Q7">
                    <i class="fa fa-chevron-circle-down"></i>Quines responsabilitats he d'assumir en un obrador compartit?</a></h2>
              </div> <div id="collapseSec3_Q7" class="collapse" aria-labelledby="headingSec3_Q7" data-parent="#accordion3">
                <div class="card-body">Depèn de la seva governança. Si és una relació clientelar, simplement pagar les quotes i complir amb el reglament d'ús. Si és un obrador comunitari, hauràs de participar de l'òrgan de govern i potser assumir alguna responsabilitat més. Però també hi haurà més beneficis ;)</div>
              </div> </div>

        </div>



        <!-- SECCIO: VULL POSAR EN MARXA UN OBRADOR, I QUE SIGUI COMPARTIT -->
          <div class="accordion" id="accordion4">
            <h5 class="page-subtitle"><span>Vull posar en marxa un obrador, i que sigui compartit...</span></h5>

            <div class="card"> <div class="card-header" id="headingSec4_Q1">
                <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q1" aria-expanded="true" aria-controls="collapseSec4_Q1">
                    <i class="fa fa-chevron-circle-down"></i>Si tinc una idea per obrir un obrador compartit, quines passes he de fer per posar-lo en marxa?</a></h2>
              </div> <div id="collapseSec4_Q1" class="collapse" aria-labelledby="headingSec4_Q1" data-parent="#accordion4">
                <div class="card-body">Per començar, les mateixes que amb un obrador agroalimentari d'ús privat:
                    <br>- Llicència d'activitat (cal assegurar que el lloc on es vol fer l'obrador pot tenir aquest ús a nivell de sòl) [municipal]
                    <br>- Comunicació ambiental (si s'escau) [municipal]
                    <br>- Claus/registres sanitaris [municipal o autonòmic]
                    <br>- Registre d'indústries agràries i alimentàries (RIAAC) [autonòmic]
                    <br>Més enllà d'això, és important saber que hi ha elaboradores interessades, perquè el disseny de l'obrador (espais, maquinària, etc.) va lligat al tipus d'elaboracions que s'hi fan.</div>
              </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q2">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q2" aria-expanded="true" aria-controls="collapseSec4_Q2">
                      <i class="fa fa-chevron-circle-down"></i>Quan temps poden tardar els tràmits per posar en marxa un obrador compartit?</a></h2>
                </div> <div id="collapseSec4_Q2" class="collapse" aria-labelledby="headingSec4_Q2" data-parent="#accordion4">
                  <div class="card-body">Si no s'elaboren productes d'alt risc i el lloc no es troba a prop de carreteres o cursos fluvials, els processos administratius que cal fer són força ràpids, excepte potser el de llicència urbanística, que pot trigar una mica més en funció de l'ajuntament en qüestió. El procés de crear un obrador de zero és més llarg perquè pot incloure cercar elaboradores, trobar un espai, fer les obres, cercar finançament, etc.</div>
                </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q3">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q3" aria-expanded="true" aria-controls="collapseSec4_Q3">
                      <i class="fa fa-chevron-circle-down"></i>Quina tipologia de local és adient per a un obrador compartit?</a></h2>
                </div> <div id="collapseSec4_Q3" class="collapse" aria-labelledby="headingSec4_Q3" data-parent="#accordion4">
                  <div class="card-body">Espais que ja fossin cuina o obrador d'algun tipus en el passat, o que tinguin alguna vinculació amb l'alimentació, com antigues escoles, escorxadors, mercats municipals... cal assegurar que la normativa municipal permet l'activitat industrial en aquell sòl.</div>
                </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q4">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q4" aria-expanded="true" aria-controls="collapseSec4_Q4">
                      <i class="fa fa-chevron-circle-down"></i>Quins requisits mínims ha de tenir el local per a  un obrador compartit?</a></h2>
                </div> <div id="collapseSec4_Q4" class="collapse" aria-labelledby="headingSec4_Q4" data-parent="#accordion4">
                  <div class="card-body">Si no s'elaboren productes d'alt risc, el mínim és sala d'elaboració, lavabo i vestidor. Però el vestidor pot ser un simple joc de dues caixes per roba neta i bruta just abans de la sala d'elaboració, i tot l'obrador pot ser un subespai d'un local més ampli. Un magatzem no és obligatori, però sol ser imprescindible.</div>
                </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q5">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q5" aria-expanded="true" aria-controls="collapseSec4_Q5">
                      <i class="fa fa-chevron-circle-down"></i>Quina és la normativa sanitària que cal complir en un obrador compartit?</a></h2>
                </div> <div id="collapseSec4_Q5" class="collapse" aria-labelledby="headingSec4_Q5" data-parent="#accordion4">
                  <div class="card-body">La mateixa que per un obrador no compartit (veure la guia d'obradors compartits). No hi ha normativa específica en aquest sentit. Només cal aclarir amb la persona tècnica de Salut qui ha de posar les claus/registres sanitaris (si l'espai per a tothom o cada elaboradora el seu).</div>
                </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q6">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q6" aria-expanded="true" aria-controls="collapseSec4_Q6">
                      <i class="fa fa-chevron-circle-down"></i>Cal esperar la inspecció de Salut per poder començar a elaborar?</a></h2>
                </div> <div id="collapseSec4_Q6" class="collapse" aria-labelledby="headingSec4_Q6" data-parent="#accordion4">
                  <div class="card-body">Depèn. En transformats vegetals no cal. Des del dia que es fa la sol·licitud de la clau/registre ja es pot començar a elaborar. I la inspecció ja vindrà. Només els obradors amb productes d'origen animal recollits al reglament 853 requereixen una visita prèvia abans d'iniciar l'activitat.</div>
                </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q7">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q7" aria-expanded="true" aria-controls="collapseSec4_Q7">
                      <i class="fa fa-chevron-circle-down"></i>Què són els prerrequisits i els APPCC (anàlisi de perills i punts de control crítics) de seguretat alimentària?</a></h2>
                </div> <div id="collapseSec4_Q7" class="collapse" aria-labelledby="headingSec4_Q7" data-parent="#accordion4">
                  <div class="card-body">Els prerequisits són la base de condicions i pràctiques higièniques que eviten la introducció d’agents perillosos, l’augment de la càrrega microbiològica o l’acumulació de residus i altres agents químics i/o físics en els aliments, de manera directa o indirecta. Aquests estan compostos dels diferents plans en funció de les necessitats del local i els registres derivats.
                      <br>L'Anàlisi de perills i punts de control crític (APPCC) és un sistema de gestió de perills, que té com a objectiu assegurar aliments innocus mitjançant l’anàlisi i el control dels possibles perills que poden aparèixer en cadascuna de les etapes de producció i comercialització.
                  </div>
                </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q8">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q8" aria-expanded="true" aria-controls="collapseSec4_Q8">
                      <i class="fa fa-chevron-circle-down"></i>Quina és la normativa urbanística que cal complir en un obrador compartit?</a></h2>
                </div> <div id="collapseSec4_Q8" class="collapse" aria-labelledby="headingSec4_Q8" data-parent="#accordion4">
                  <div class="card-body">La mateixa que per un obrador no compartit (veure la guia d'obradors compartits).</div>
                </div> </div>

              <div class="card"> <div class="card-header" id="headingSec4_Q9">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec4_Q9" aria-expanded="true" aria-controls="collapseSec4_Q9">
                      <i class="fa fa-chevron-circle-down"></i>Quins són els requisits per poder tenir el segell del CCAPE per a un obrador compartit?</a></h2>
                </div> <div id="collapseSec4_Q9" class="collapse" aria-labelledby="headingSec4_Q9" data-parent="#accordion4">
                  <div class="card-body">Els requisits incials són els mateixos que per qualsevol altre obrador. Sí que en la memòria cal especificar si l'obrador serà mixte o exclusiu ecològic. En el cas dels exclusius, totes les primers matèries que entrin han de ser ecològiques certificades. En el cas dels mixtes, a la mateixa memòria cal especificar els mètodes de treball (quan es faran les elaboracions amb producte eco: la major part de la gent posa que es faran a primera hora del matí després d'haver fet una neteja i que aquesta quedi registrada) i sistemes de separació en la fase d'emmagatzematge tant de primera matèria com de producte final. És obligatori que hi hagi cartell identificant zona emmagatzematge de producte ecològic.</div>
                </div> </div>

          </div>


          <!-- SECCIO: VULL COMPARTIR EL MEU OBRADOR -->
            <div class="accordion" id="accordion5">
              <h5 class="page-subtitle"><span>Vull compartir el meu obrador...</span></h5>

              <div class="card"> <div class="card-header" id="headingSec5_Q1">
                  <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q1" aria-expanded="true" aria-controls="collapseSec5_Q1">
                      <i class="fa fa-chevron-circle-down"></i>Si ja tinc el meu obrador agroalimentari, quines passes he de donar per a que sigui compartit?</a></h2>
                </div> <div id="collapseSec5_Q1" class="collapse" aria-labelledby="headingSec5_Q1" data-parent="#accordion5">
                  <div class="card-body">Més enllà de trobar elaboradores que vulguin entrar-hi i tenir clar com funcionarà l'obrador compartit, només cal regularitzar la situació a nivell de registres sanitaris. És a dir, tenir claus sanitàries per tots els productes que es vagin a elaborar.</div>
                </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q2">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q2" aria-expanded="true" aria-controls="collapseSec5_Q2">
                        <i class="fa fa-chevron-circle-down"></i>Quins són els requisits bàsics per obrir el meu obrador a altres elaboradores?</a></h2>
                  </div> <div id="collapseSec5_Q2" class="collapse" aria-labelledby="headingSec5_Q2" data-parent="#accordion5">
                    <div class="card-body">Crear els mecanismes d'organització necessaris per al bon funcionament de l'obrador.
                        <br>Parlar amb la persona tècnica de salut per saber si cada elaboradora ha de tenir les seves claus/registres sanitaris o l'espai les posa per tothom. I sol·licitar-los. S'està treballant per aconseguir criteris uniformes a tot Catalunya i que això no depengui de les persones tècniques de salut.</div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q3">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q3" aria-expanded="true" aria-controls="collapseSec5_Q3">
                        <i class="fa fa-chevron-circle-down"></i>Quina és la normativa específica per legalitzar un obrador compartit?</a></h2>
                  </div> <div id="collapseSec5_Q3" class="collapse" aria-labelledby="headingSec5_Q3" data-parent="#accordion5">
                    <div class="card-body">No hi ha normativa específica.</div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q4">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q4" aria-expanded="true" aria-controls="collapseSec5_Q4">
                        <i class="fa fa-chevron-circle-down"></i>S'hi poden fer tot tipus de producte?</a></h2>
                  </div> <div id="collapseSec5_Q4" class="collapse" aria-labelledby="headingSec5_Q4" data-parent="#accordion5">
                    <div class="card-body">Sí, es pot compartir l'obrador amb elaboradores d'altres tipus de producte. Fins i tot de cosmètica. Però cal assegurar que l'obrador compleix amb els requisits tècnics i sanitàris específics (sobretot per productes de major risc, com làctics o càrnics).</div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q5">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q5" aria-expanded="true" aria-controls="collapseSec5_Q5">
                        <i class="fa fa-chevron-circle-down"></i>En un obrador compartit, el registre sanitari és municipal, autonòmic o estatal?</a></h2>
                  </div> <div id="collapseSec5_Q5" class="collapse" aria-labelledby="headingSec5_Q5" data-parent="#accordion5">
                    <div class="card-body">A Catalunya, hi ha dues opcions: registre autonòmic o registre municipal.
                      <br>Quan es fa l'autonòmic, via departament de Salut de la Generalitat, s'atorgarà automàticament l'estatal, sense haver de fer res més al respecte. I això permet vendre a tot l'estat espanyol i a tota Europa. És el més habitual.
                      <br>Si es fa registre municipal, cal complir amb els criteris de territorialitat i marginalitat (no es pot vendre més del 30% fora del municipi o a intermediaris).</div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q6">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q6" aria-expanded="true" aria-controls="collapseSec5_Q6">
                        <i class="fa fa-chevron-circle-down"></i>En un obrador compartit, cada productora té el seu registre sanitari?</a></h2>
                  </div> <div id="collapseSec5_Q6" class="collapse" aria-labelledby="headingSec5_Q6" data-parent="#accordion5">
                    <div class="card-body">Depèn. A l'espera d'un criteri comú, les respostes de la persona tècnica de Salut poden ser dues:
                        <br>- Cada elaboradora s'ha de donar d'alta de les seves claus/registres sanitaris, encara que altres elaboradores del mateix obrador ja les tinguin.
                        <br>- L'espai es dóna d'alta per cada tipus de clau/registre i l'elaboradora llavors simplement firma un paper de responsabilitat de les seves elaboracions.
                        <br>Cada opció té els seus avantatges i inconvenients, però no es pot triar. La tècnica és la que ens dirà com ho hem de fer.</div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q7">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q7" aria-expanded="true" aria-controls="collapseSec5_Q7">
                        <i class="fa fa-chevron-circle-down"></i>En un obrador compartit, els prerrequisits i APPCC s'han de fer i controlar de manera diferent?</a></h2>
                  </div> <div id="collapseSec5_Q7" class="collapse" aria-labelledby="headingSec5_Q7" data-parent="#accordion5">
                    <div class="card-body">No, cada productora haurà de controlar els seus productes però la documentació en molts casos serà compartida. Així, per exemple, el pla d'aigües serà el mateix, i el seu full registre serà compartit, però cada elaboradora l'haurà d'omplir cada cop que elabora per així portar un correcte control del seus productes. </div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q8">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q8" aria-expanded="true" aria-controls="collapseSec5_Q8">
                        <i class="fa fa-chevron-circle-down"></i>En un obrador compartir, cal tenir el RIAAC?</a></h2>
                  </div> <div id="collapseSec5_Q8" class="collapse" aria-labelledby="headingSec5_Q8" data-parent="#accordion5">
                    <div class="card-body">Sí. L'excepció per no requerir el RIAAC és que la titularitat de l'obrador sigui una persona física i que no hi hagi quasi maquinària ni persones contractades. El RIAAC contempla dos tipus d'indústries, però, i els obradors compartits solen ser del tipus A, que són les indústries de mida petita. Ser tipus A implica presentar menys documentació a l'hora de fer el tràmit.</div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q9">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q9" aria-expanded="true" aria-controls="collapseSec5_Q9">
                        <i class="fa fa-chevron-circle-down"></i>En un obrador compartit, es poden barrejar produccions ecològiques certificades amb produccions sense certificar?</a></h2>
                  </div> <div id="collapseSec5_Q9" class="collapse" aria-labelledby="headingSec5_Q9" data-parent="#accordion5">
                    <div class="card-body">Sí que es pot. Però caldrà delimitar molt bé quan es fan produccions ecològiques i quan no, per evitar les contaminacions creuades. Si es certifica l'obrador amb el CCPAE, la normativa d'aquest organisme és la que indica exactament el com.</div>
                  </div> </div>

                <div class="card"> <div class="card-header" id="headingSec5_Q10">
                    <h2 class="clearfix mb-0"> <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSec5_Q10" aria-expanded="true" aria-controls="collapseSec5_Q10">
                        <i class="fa fa-chevron-circle-down"></i>Com puc donar a conèixer el meu obrador compartit?</a></h2>
                  </div> <div id="collapseSec5_Q10" class="collapse" aria-labelledby="headingSec5_Q10" data-parent="#accordion5">
                    <div class="card-body">Dóna'l d'alta en aquest mapa, fins i tot si encara no està en funcionament (opció ""en construcció""). Un cop publicat i validat, ja hi apareixerà i et servirà de plataforma per donar-lo a conèixer.
                        <br>També recomanem donar-lo a conèixer al grup de Telegram <a target="_blank" href="https://t.me/obradorscompartits">"Obradors Compartits"</a>. Si ja ho fas en fase de concreció, et pot servir per trobar altres elaborades del teu territori i fer així més viable el projecte.</div>
                  </div> </div>
            </div>


</div>

</div> <!-- End div content -->
{% endblock %}
