<center><img style="max-width:50%" src="/static/baton/img/logo.png"></center>
<br>Els <b>obradors compartits</b> tenen un potencial immens: <b>fan viable la petita elaboració</b>. I així contribueixen al desenvolupament local, a l’agroecologia, a la sobirania alimentària i a frenar el despoblament de les zones rurals.
<br><br>
Aquest web vol ser el punt de trobada d'obradors compartits i de potencials usuàries d'aquests. Un revulsiu facilitador que potenciï l'ús dels obradors actuals i en promogui la creació de nous. Amb informació detallada de cada obrador, i amb els apartats de <a href="/pagina/faqs">FAQs</a> i <a href="https://einatecagroecologica.pamapam.cat/transformacio/#recursos-transformacio">recursos</a> per centralitzar tota la informació existent sobre la temàtica i resoldre els dubtes més habituals.
<br><br>
<u>Busques obrador compartit on elaborar?</u> Busca el més proper a prop teu.<br>
<u>Tens un obrador compartit o que voldries compartir?</u> Dóna'l d'alta al mapa i així el trobaran potencials usuàries.<br>
<u>Esteu creant un obrador compartit al vostre territori?</u> Doneu-lo d'alta com a "obrador en construcció" i trobeu més gent amb qui sumar.<br>
<u>Busques un altre tipus d'espai?</u> <a target="_blank" href="https://www.xemac.org/">Xarxa d’espais d’emprenedoria agroalimentària de Catalunya</a>
<br><br>
I si vols estar en contacte amb el sector, <b>entra al grup de Telegram</b> <a target="_blank" href="https://t.me/obradorscompartits">Obradors Compartits</a>. D'aquí ha sortit el grup motor que ha dissenyat aquest web. Gràcies Marta, Rosa, Helena, Neus, Alba, Esther, Ignasi, Edurne i Quim :) .
<br><br><b>Compartim espais, transformem l'elaboració.</b>
