{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}

<link rel="stylesheet" href="/static/css/custom_pages.css" />
{% endblock %}
{% block content %}
    {% include "frontend/navbar.html" %}

<div class="page_content">
	<div class="container-lg">
	    <h1 class="page-title">Recursos</h1>

          <div class="accordion" id="accordionExample">

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <i class="fa fa-chevron-circle-down"></i>Manuals i Guies</a>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a target="_blank" href="https://cerai.org/wordpress/wp-content/uploads/2020/11/Manual_Pol%C3%ADtiques-Aliment%C3%A0ries-Transformadores.pdf">Manual de posada en marxa de Polítiques Alimentàries Transformadores (2020)</a></li>
                      <li><a target="_blank" href="https://www.leaderdelcamp.cat/noticies/item/download/47_05338eca4297b1b135d6dd6215e01706">Guia de creació i gestió d’espais compartits de producció agroalimentària (2019)</a></li>
                      <li><a target="_blank" href="http://sobiranialimentariapv.org/app/uploads/2018/09/manual-obradors-valencia-web-ilovepdf-compressed-1.pdf">Manual d’obradors compartits. Una eina de dinamització socioeconòmica del territori (2018)</a></li>
                      <li><a target="_blank" href="http://acsa.gencat.cat/web/.content/Documents/eines_i_recursos/guia_venda_proximitat_productes_agroalimentaris.pdf">Guia per a la venda de proximitat dels productes agroalimentaris (2013)</a></li>
                      <li><a target="_blank" href="https://www.diba.cat/c/document_library/get_file?uuid=9a8fd6ea-9f3d-4596-a0af-d58ec7dc1596&groupId=479934">Guia de tramitació d’expedients d’activitats i establiments (2012)</a></li>
                      <li><a target="_blank" href="http://acsa.gencat.cat/ca/Publicacions/guies-i-documents-de-bones-practiques/documents-de-bones-practiques/guia-per-a-lappcc/index.html">Guia per a l’aplicació de l’autocontrol basat en el Sistema d’Anàlisi de Perills i Punts de Control Crític (2004)</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="heading2">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                      <i class="fa fa-chevron-circle-down"></i>Documents normatius</a>
                  </h2>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a target="_blank" href="https://salutweb.gencat.cat/web/shared/OVT/Departaments/SLT/Documents/Formularis_pdf/RSIPAC-Criteris-classificacio-rsipac-2018.pdf">Claus sanitàries Catalunya</a></li>
                      <li><a target="_blank" href="http://canalempresa.gencat.cat/permalink/688636e6-73f7-11e4-a49e-cbfd07b69f1e">Activitats econòmiques (ho demana el RIAAC)</a></li>
                      <li><a target="_blank" href="http://sac.gencat.cat/sacgencat/AppJava/document.jsp?doc=7_10169.pdf">Guia com omplir el RIAAC</li>
                      <li><a target="_blank" href="http://acsa.gencat.cat/ca/Publicacions/guies-i-documents-de-bones-practiques/guies-de-practiques-correctes-dhigiene-reconegudes-oficialment/">Guies de pràctiques correctes d'higiene (GPCH) en obradors compartits</a></li>
                      <li><a target="_blank" href="https://salutweb.gencat.cat/web/.content/_ambits-actuacio/Per-perfils/Empreses-i-establiments/ambit-alimentari/criteris-registrals-establiments-minoristes-sector-alimentacio/documents/arxius/criteris_registre_establiments_minoristes_alimentacio_logos.pdf">Criteris registrals per a establiments minoristes d’alimentació de Catalunya v2 (inclou tema registre municipal) (2012)</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="heading3">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                      <i class="fa fa-chevron-circle-down"></i>Models documentals</a>
                  </h2>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a target="_blank" href="https://salutweb.gencat.cat/web/shared/OVT/Departaments/SLT/Documents/Formularis_pdf/RSIPAC-Criteris-classificacio-rsipac-2018.pdf">Documents de gestió interna</a></li>
                      <li>Model de governança</li>
                      <li>Bases normatives per crear un obrador compartit</li>
                    </ul>
                  </div>
                </div>
              </div>



              <div class="card">
                <div class="card-header" id="heading4">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                      <i class="fa fa-chevron-circle-down"></i>Projectes inspiradors (de fora de Catalunya)</a>
                  </h2>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a target="_blank" href="http://viveroempresas.adecuara.org/">Obrador ecológico de la Subbética de Cabra (Córdoba)</a></li>
                      <li><a target="_blank" href="https://apaema.net/comunitat/obrador-collectiu/">S’Obrador de Binissalem (Mallorca)</a></li>
                      <li><a target="_blank" href="https://subbeticaecologica.com/oes/">Vivero de empresas agroalimentarias ADECUARA (Huesca)</a></li>
                      <li><a target="_blank" href="https://maskilukontserbak.org/">Obrador comunitari Maskilu (Biscaia)</a></li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" id="heading5">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                      <i class="fa fa-chevron-circle-down"></i>Bibliografia de referència</a>
                  </h2>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a target="_blank" href="https://www.fondationcarasso.org/wp-content/uploads/2019/07/Publicaci%C3%B3n-100-iniciativas-SAT.pdf">Sistemas Alimentarios Territorializados en España. 100 iniciativas (2019)</a></li>
                      <li><a target="_blank" href="http://www.soberaniaalimentaria.info/images/estudios/consells-alimentaris-moragues-cat-final-web.pdf">Els Consells Alimentaris. Una eina municipalista per a la transformació del sistema alimentari (2016)</a></li>
                      <li><a target="_blank" href="https://www.economiasolidaria.org/sites/default/files/CARTA_PER_UNA_SOBIRANIA_ALIMENTARIA.pdf">Carta per una sobirania alimentaria des dels nostres municipis. Xarxa Estatal d’Economia Social i Solidària (2014)</a></li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" id="heading6">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                      <i class="fa fa-chevron-circle-down"></i>Finançament</a>
                  </h2>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a target="_blank" href="http://www.desenvolupamentrural.cat/">ARCA i grups LEADER</a></li>
                      <li><a target="_blank" href="https://www.fondationcarasso.org/es/convocatorias/">Subvenció bianual per a obradors compartits de la Fundació Carasso</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="heading7">
                  <h2 class="clearfix mb-0">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                      <i class="fa fa-chevron-circle-down"></i>Altres</a>
                  </h2>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a target="_blank" href="https://recercaenagroecologiaescolar.files.wordpress.com/2019/02/obrador.pdf">IMPULS PER LA CREACIÓ D’UN OBRADOR COMUNITARI A SANT CUGAT DEL VALLÈS - Treball final de postgrau (2018)</a></li>
                    </ul>
                  </div>
                </div>
              </div>
    </div>

    <br>
    Si trobes a faltar quelcom, detectes algun enllaç erroni o saps d'algun document/recurs interessant que no tinguem aquí llistat, si us plau, <a target="_blank" href="/pagina/contacte/">fes-nos-ho saber</a>.

</div></div>
{% endblock %}
