{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
<meta http-equiv="refresh" content="4;url=/accounts/login/?next=/admin/pages/add/maplisting/maplistingpage/8/" />
{% endblock %}
{% block content %}
<p class='lead'>{% trans "Your account is now activated." %}{% trans "You can login <a href='/accounts/login/?next=/admin/pages/add/maplisting/maplistingpage/8/'>here</a> now." %}</p>
{% endblock %}
