{% load i18n %}
{% trans "Activate account at" %} {{ site.name }}:
<br>
<br>
{% blocktrans %}Hello there!{% endblocktrans %}<br>
<br>
{% blocktrans %}Click the link below to activate your account.{% endblocktrans %}
<br>
http://{{ site.domain }}{% url 'registration_activate' activation_key %}
<br>
<br>
{% blocktrans %}The above link is valid for {{ expiration_days }} days.{% endblocktrans %}