{% extends "django_registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}{% blocktrans %}
Has oblidat la teva contrasenya? Introduïu el vostre correu electrònic al formulari següent i us enviarem
instruccions per crear-ne una de nova.{% endblocktrans %}
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="{% trans "Restablir la contrasenya"  %}" /></td></tr>
</table>
</form>
{% endblock %}
