<!-- Object: {{ original.id }}: {{original}} -->
{% load criterias_tags %}
{% load l10n %}

<link rel="stylesheet" href="/static/css/style.css" />
<script src="/static/js/criterias.js"></script>

<script>

  $jq(document).ready(function() {
      //If any changes on the criteria points


      $jq("[name^='criteria_points-']").on('change', function () {
        $name_element = $jq(this).attr('name')

        $name_id = "criteria_points-"
        criteria_id = $name_element.substr($name_id.length);
        value = $jq(this).val()
        if(value == "none"){value = 0}
        else{ value = parseFloat(value) }
        display_circle_points(criteria_id, value);
      });
        window.onbeforeunload = null;
        window.onunload = null;

  });
</script>
{% get_all_criterias data as criterias %}
{% for criteria in criterias %}
{% get_criteria_answers original criteria  as answer %}
<hr>

    <div id="criteria_{{criteria.my_order}}">
      <label class="required">{{criteria.my_order|add:'1'}}:</label>
      <img src="/media/{{criteria.icon}}">
      <label class="required"><u>{{criteria.name}}</u></label>
      <label id="circles-{{criteria.my_order}}" class="circle" ></label>
      <script type="text/javascript">display_circle_points({{criteria.my_order}}, {% if answer.overal_points == None %}null{% else %}{{answer.overal_points|unlocalize}}{% endif %});</script>
      <br>
      <label>{{criteria.question}}</label>
    </div>
      <label id="criteria_points-{{criteria.my_order}}" for="criteria_points-{{criteria.my_order}}">Puntuació del criteri:
        <select name="criteria_points-{{criteria.my_order}}">
              <option value="none" {% if answer.overal_points == None %}selected{% endif %} >---</option>
              <option value="0" {% if answer.overal_points == 0 %}selected{% endif %} >0</option>
              <option value="0.5" {% if answer.overal_points == 0.5 %}selected{% endif %} >½</option>
              <option value="1" {% if answer.overal_points == 1 %}selected{% endif %} >1</option>
              <option value="1.5" {% if answer.overal_points == 1.5 %}selected{% endif %} >1½</option>
              <option value="2" {% if answer.overal_points == 2 %}selected{% endif %} >2</option>
              <option value="2.5" {% if answer.overal_points == 2.5 %}selected{% endif %} >2½</option>
              <option value="3" {% if answer.overal_points == 3 %}selected{% endif %} >3</option>
              <option value="3.5" {% if answer.overal_points == 3.5 %}selected{% endif %} >3½</option>
              <option value="4" {% if answer.overal_points == 4 %}selected{% endif %} >4</option>
              <option value="4.5" {% if answer.overal_points == 4.5 %}selected{% endif %} >4½</option>
              <option value="5" {% if answer.overal_points == 5 %}selected{% endif %} >5</option>
        </select>
      </label>
      <small class="text-muted">{{criteria.description}}</small>
    <textarea id="criteria_comment-{{criteria.my_order}}" name="criteria_comment-{{criteria.my_order}}" style="width:100%"  rows="3" placeholder = "Comentaris interns(no es publicarà)">{{answer.notes}}</textarea>
    </div><!-- end div criteria -->

{% endfor %}
