{% extends 'admin/login.html' %}
{% block content_title %}
<p style="text-align: center; margin-bottom: 0;">Si encara no teniu un compte, podeu registrar-vos <a href="/accounts/register/">ací</a>.<br>
Si heu oblidat la contrasenya, podeu restablir-la <a href="/accounts/password_reset/">ací.</a>
</p>

{% endblock %}
