{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}


{% block form_top %}
{% if original.status == "ARCHIVED" %}
<div class="alert alert-dark" role="alert">
  Avís: El punt es troba arxivat i no apareix al mapa. Contacta al equip motor si creus que es un error.
</div>
{% elif original.status == "REVIEW_PENDING" %}
<div class="alert alert-warning" role="alert">
  Avís: El punt es troba pendent de revisió. Seràs notificat en breu.
</div>
{% elif original.status == "DRAFT" %}
<div class="alert alert-warning" role="alert">
  Avís: Aquest punt es troba en fase d'esborrany. Prem el botó de PUBLICAR per a enviar-lo a revisió.
</div>
{% elif original.status == "PUBLISHED" %}
<div class="alert alert-success" role="alert">
  El punt está actiu i apareix al mapa.
</div>
{% endif %}
{% endblock %}
{% block submit_buttons_bottom %}

<div class="submit-row">

{% if original %}
    <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" {{ onclick_attrib }}/>
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
{% else %}
    <input type="submit" value="Desar esborrany" class="default" name="_save" {{ onclick_attrib }}/>
{% endif %}
{% if request.user.is_superuser %}
<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>
{% endif %}

</div>
<div class="submit-row">
  {% if original.status == "DRAFT" %}
      <input type="submit" style="background-color:blue" value="Publicar" name="_make-reviewing" {{ onclick_attrib }}>
  {% endif %}
{% if original.status == "REVIEW_PENDING" and request.user.is_superuser %}
    <input type="submit" style="background-color:blue" value="Aprovar" name="_make-approve" {{ onclick_attrib }}>
    <input type="submit" style="background-color:red" value="No aprovar" name="_make-disapprove" {{ onclick_attrib }}>
{% endif %}
</div>


{% endblock %}
