<!-- Object: {{ original.id }}: {{original}} -->
{% load criterias_tags %}


<hr>
<p class="text-center font-weight-bold">Rols de les participants</p>
{% get_all_roles data filters='myfilter' as roles %}

{% for role in roles %}
{% get_role_answers original role as answer %}
      <div class="form-row" id="criteria_{{role.my_order}}">
        <label style="min-width:200px" class="required" for="dont_apply-question-{{criteria.my_order}}">{{role.name}}</label>
        <label for="answers-women-{{role.my_order}}">Dones</label>
        <input style="max-width:100px" type="number" id="participants-women-{{criteria.my_order}}" name="participants-women-{{role.my_order}}" min="0" value="{{answer.women}}">

        <label for="answers-men-{{role.my_order}}">Homes</label>
        <input style="max-width:100px"  type="number" id="participants-men-{{criteria.my_order}}" name="participants-men-{{role.my_order}}" min="0" value="{{answer.men}}">

        <label  for="answers-others-{{role.my_order}}">Altres</label>
        <input style="max-width:100px"  type="number" id="participants-others-{{criteria.my_order}}" name="participants-others-{{role.my_order}}" min="0" value="{{answer.others}}">
      </div>
{% endfor %}
