
{% load i18n  %}
{% load get_index_text %}

<script>
var page = 'index.html';
</script>
{% include "frontend/navbar.html" %}

    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#sidebar_home" role="tab"><i class="fas fa-info-circle"></i></a></li> <!--fa fa-bars -->
                <li><a href="#sidebar_filter" title="Filtres" role="tab"><i class="fa fa-filter"></i></a></li>
                <li><a href="#sidebar_search" title="Cerca" role="tab"><i class="fa fa-search"></i></a></li>
                <li><a href="#sidebar_info_point" title="Informació" role="tab"><i class="fa fa-map-marker"></i></a></li>
            </ul>

            <!-- <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fas fa-cog"></i></a></li>
            </ul> -->
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="sidebar_home">
                <h1 class="sidebar-header"><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <p style="margin-top:10px" id="instructions_text">
                  {% autoescape off %}
                    {% get_index_html %}
                  {% endautoescape %}
                </p>
            </div>

            <div class="sidebar-pane" id="sidebar_filter">
                <h1 class="sidebar-header">Filtres<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                <div class='checkbox'>
                          <label><input onclick="clickAllFilters()" id='allCheckbox' type='checkbox' value='' checked >{% trans "All"%}</label>
                        </div>
                <div id="filtersList"></div>
                <hr>
                <!-- <button onclick="applyFilters()" type="button" class="btn btn-outline-dark float-right">Update</button> -->
            </div>
            <div class="sidebar-pane" id="sidebar_search">
                <h1 class="sidebar-header">{% trans "Search"%}<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <br>
                  <input onkeydown="search()" id="searchinput" type="text" class="form-control" placeholder="{% trans 'Search'%}">
                  <br>
                  <!-- <button onclick="search()" type="button" class="btn btn-outline-dark float-right">Search</button> -->
                  <div id="searchResults">

                  </div>
            </div>
            <div class="sidebar-pane" id="sidebar_info_point">
                <h1  class="sidebar-header">Informació del punt<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <p  style="margin-top:10px" id="info_point"></p>
            </div>
<!--
            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Configuració<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

            </div> -->
        </div>
    </div>
    <div id="loadingbar" >
      <div class="cssload-loader-inner">
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    		<div class="cssload-cssload-loader-line-wrap-wrap">
    			<div class="cssload-loader-line-wrap"></div>
    		</div>
    	</div>
    </div>

    <div id="map" class="sidebar-map">
       <!-- <span class="mapheader">{{map_header}}</span> -->
    </div>

    <div >
        <div class="col-sm-12 wow slideInUp">
            <div style="text-align: center">
               <a target="_blank" href="http://trescadires.cat/"><img style="height:50" src="/static/img/01peu.png"></a>
               <a target="_blank" href="http://www.concactiva.cat/"><img style="height:40" src="/static/img/concactiva.png"></a>
               <a target="_blank" href="https://www.desenvolupamentrural.cat/"><img style="height:40" src="/static/img/arca.png"></a>
               <img style="height: 50px; " src="/static/img/02peu.png">
               <img style="height: 50px; " src="/static/img/02_1peu.png">
               <img style="height: 50px; " src="/static/img/03peu.png">
             </div>
      </div>
  </div>



    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
    <script src="/static/js/leaflet-sidebar.js"></script>

    <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
    <script type="text/javascript">
        var language = "{{language}}";
    </script>
    <script type="text/javascript" src="/static/js/index.js"></script>
