{% load criterias_tags %}
{% load l10n %}

<link rel="stylesheet" href="/static/css/style.css" />
<script src="/static/js/criterias.js"></script>

<small class="card-body"><i>(Dades proporcionades pel propi obrador)<i></small>
<div class="card-body">

  <h5 id="rightCard-title" class="card-title">{{title}}{%if point.under_construction%} (en construcció){% endif %}</h5>

  <div id="rightCard-categories">
      {% for slug, c in categories.items %}
          <img style="width:30px; height:30px;"
           src="/media/{{c.icon_name}}"
           title="{{c.name}}"/>
      {% endfor %}
  </div>

  <div id="rightCard-text" class="card-text">
      {%if point.is_ecologic %} <span style="color:white; background-color: #800080;" class="badge badge-success">Agroecològic</span> {% endif %}
  </div>
  
  <div id="rightCard-text" class="card-text">
      {%if intro %}<p><i>{{intro|safe}}</i></p>{%endif%}
  </div>
  {%if picture_url and picture_url != 'point_images/default.jpg'%}
    <img id="rightCard-img" class="card-img-top" src="/media/{{picture_url}}" alt="img">
  {% endif %}

  <div id="rightCard-text" class="card-text">
    {% for t in tags %}
      <span class="badge badge-danger">{{t}}</span>
    {% endfor %}
  </div>
    <div id="rightCard-text" class="card-text">
      {%if point.admin_name%}<b>Entitat/Empresa gestora</b>: <a href="{{point.admin_web}}" target="_blank">{{point.admin_name}}</a>
        {%if point.admin_email%}<br>Correu: {{point.admin_email}} {% endif %}
        {%if point.admin_email%}<br>Tlfn: {{point.admin_phone}} {% endif %}
        {%if point.admin_contact%}<br>Contacte: {{point.admin_contact}}{% endif %}
      {% endif %}
    </div>
    <div id="rightCard-text" class="card-text">
      {{body|safe}}

    </div>

    {%if point.point_members.all|length > 0 %}
      <div id="rightCard-text" class="card-text">
      <b>Elaboradores</b>:
            <ul style="margin:0">
                      {% for m in point.point_members.all %}
                          <li style="margin-top:4px">
                              {%if m.picture.url and m.picture.url != '/media/point_images/default.jpg' %}
                                <a href="{{m.picture.url}}" target="_blank">
                                  <img width="40px" height="40px" src="{{m.picture.url}}"
                                    alt="{{m.name}}"
                                    title="{{m.name}}">
                                </a>
                              {%endif%}
                              {%if m.web %}<a href="{{m.web}}" target="_blank">{{m.name}}</a>
                              {%else %} {{m.name}} {%endif%}
                              {%if m.town %} : {{m.town}} {%endif%}
                              {%if m.work_comment %} ({{m.work_comment}}) {%endif%}
                          </li>
                       {% endfor %}
            </ul>
        </div>
    {%endif%}

  <div  class="card-text">
      <br><b>Criteris (de 0 a 5):</b>
      {% get_all_criterias data filters='myfilter' as criterias %}
      {% for criteria in criterias %}
        {% get_criteria_answers point criteria as answer %}
            {% if answer.overal_points != None %}
              <br><img style="width:20px" src="/media/{{criteria.icon}}"> {{criteria.name}}:
                <label id="circles-{{criteria.my_order}}" class="circle" ></label>
                <script type="text/javascript">display_circle_points({{criteria.my_order}}, {{answer.overal_points|unlocalize}});</script>
            {% endif %}
      {% endfor %}
  </div>

  {%if gallery_images|length > 0 %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>

              </ol>
              <div class="carousel-inner">
                  {% for im in gallery_images %}
                      <div class="carousel-item {%if forloop.counter0 == 0 %}active{% endif %}">
                          <a href="{{im.original_url}}" target="_blank">
                            <img class="d-block w-100" src="{{im.thumb_url}}"
                              alt="{{im.caption}}"
                              title="{{im.caption}}">
                          </a>
                      </div>
                   {% endfor %}
             </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
  {%endif%}
  <div  class="card-text">
      {%if point.phone%}
           <br><a id="rightCard-phone" href="tel:{{point.phone|safe}}" class="card-link" target="_blank"><i class='fas fa-phone fa-lg'></i></a> {{point.phone|safe}}
      {%endif%}
      {%if email_parts%}
           <br><br>
           <a id="rightCard-email" class="card-link" target="_blank"></a> {{email_parts.0|safe}}<i class='fas fa-at fa-lg'></i>{{email_parts.1|safe}}
      {%endif%}
      {%if point.web %}
         <br><br><a id="rightCard-web" href="{{point.web|safe}}" class="card-link" target="_blank"><i class='fas fa-home fa-lg'></i> Lloc web</a>
      {%endif%}
      {%if not point.address%}
         <br><br><a id="rightCard-address" href="https://geohack.toolforge.org/geohack.php?pagename={{title}}&params={{lat}}_N_{{lon}}_E_region:PR_type:landmark"  class="card-link" target="_blank"><i class='fa fa-map-marker fa-lg'></i></a>
      {%endif%}
      {%if point.address%}
        <br><br><a id="rightCard-address" href="https://geohack.toolforge.org/geohack.php?pagename={{title}}&params={{lat}}_N_{{lon}}_E_region:PR_type:landmark"  class="card-link" target="_blank"><i class='fa fa-map-marker fa-lg'></i> {{point.address|safe}}</a>
      {%endif%}

  </div>


  <br><br><a id="rightCard-url" href="{{point.url|safe}}" class="card-link" target="_blank"><i class='fas fa-link fa-lg'></i></a>
  <b>Última modificació</b>: {{point.modified_date|date:'d/m/Y' }}
</div>
