
{% load l10n %}

<link rel="stylesheet" href="/static/css/style.css" />
<script src="/static/js/criterias.js"></script>


<div class="card-body">
  <h5 id="rightCard-title" class="card-title">{{title}}{%if point.under_construction%} (en construcció){% endif %}</h5>

  <div id="rightCard-categories">
      {% for slug, c in categories.items %}
          <img style="width:30px; height:30px;"
           src="/media/{{c.icon_name}}"
           title="{{c.name}}"/>
      {% endfor %}
  </div>

  <div id="rightCard-text" class="card-text">
      {%if intro %}<p><i>{{point.intro|safe}}</i></p>{%endif%}
  </div>
  <img id="rightCard-img" class="card-img-top {%if not picture_url %}hidden{% endif %}" src="/media/{{picture_url}}" alt="img">

  <div id="rightCard-text" class="card-text">
    {% for t in tags %}
      <span class="badge badge-danger">{{t}}</span>
    {% endfor %}
  </div>
    <div id="rightCard-text" class="card-text">
      {%if point.admin_name%}<b>Entitat/Empresa gestora</b>: <a href="{{point.admin_web}}" target="_blank">{{point.admin_name}}</a>
        {%if point.admin_email%}<br>Correu: {{point.admin_email}} {% endif %}
        {%if point.admin_email%}<br>Tlfn: {{point.admin_phone}} {% endif %}
        {%if point.admin_contact%}<br>Contacte: {{point.admin_contact}}{% endif %}
      {% endif %}
    </div>


  <div  class="card-text">
      {%if point.phone%}
           <br><a id="rightCard-phone" href="tel:{{point.phone|safe}}" class="card-link" target="_blank"><i class='fas fa-phone fa-lg'></i></a> {{point.phone|safe}}
      {%endif%}
      {%if email_parts%}
           <br><br>
           <a id="rightCard-email" class="card-link" target="_blank"></a> {{email_parts.0|safe}}<i class='fas fa-at fa-lg'></i>{{email_parts.1|safe}}
      {%endif%}
      {%if point.web %}
         <br><br><a id="rightCard-web" href="{{point.web|safe}}" class="card-link" target="_blank"><i class='fas fa-home fa-lg'></i> Lloc web</a>
      {%endif%}
      {%if not point.address%}
         <br><br><a id="rightCard-address" href="https://geohack.toolforge.org/geohack.php?pagename={{title}}&params={{lon}}_N_{{lat}}_E_region:PR_type:landmark"  class="card-link" target="_blank"><i class='fa fa-map-marker fa-lg'></i></a>
      {%endif%}
      {%if point.address%}
        <br><br><a id="rightCard-address" href="https://geohack.toolforge.org/geohack.php?pagename={{title}}&params={{lon}}_N_{{lat}}_E_region:PR_type:landmark"  class="card-link" target="_blank"><i class='fa fa-map-marker fa-lg'></i> {{point.address|safe}}</a>
      {%endif%}

  </div>


  <br><br><a id="rightCard-url" href="{{point.url|safe}}" class="card-link" target="_blank"><i class='fas fa-link fa-lg'></i></a>
  <b>Última modificació</b>: {{point.modified_date|date:'d/m/Y' }}
</div>
