{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for maplistingpage in maplistingpages %}

          <p>
              <strong><a href="{% pageurl maplistingpage %}">{{ maplistingpage.title }}</a></strong><br />
              <small>Revised: {{ maplistingpage.latest_revision_created_at }}</small><br />
              {% if maplistingpage.author %}
                <p>By {{ maplistingpage.author.profile }}</p>
              {% endif %}
          </p>

    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}
