<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
    <!-- <a class="navbar-brand" href="/"><img class="navbar-image" src="/static/img/obradors_compartits_logo_horiz.png"></a> -->
    <a class="navbar-brand" href="https://einatecagroecologica.pamapam.cat/transformacio/"><div class="navbar-logo"></div></a>
    <a class="navbar-einateca" href="https://einatecagroecologica.pamapam.cat/transformacio/"><img style="height: 50px;" src="/static/img/einateca_transformacio.png"></a>
    
    <button id="navbar-toggler" class="navbar-toggler  ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <script>
      if (typeof page === 'undefined') { page = '';}

      function show_instructions()
      {
        if(page == 'index.html'){
          sidebar.open('sidebar_home');
          toggler = $('#navbar-toggler')
          if(!toggler.hasClass("collapsed")) {$('#navbar-toggler').click();}
        }else{
          window.location.replace("/");
        }
      }

      function show_filters()
      {
        sidebar.open('sidebar_filter');
        toggler = $('#navbar-toggler')
        if(!toggler.hasClass("collapsed")) {$('#navbar-toggler').click();}
      }
    </script>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  ml-auto flex-nowrap ">
      <li style="display:inline-block !important; white-space: nowrap;" class="nav-item active">
        <a class="nav-link" href="javascript:show_instructions()">Mapa <span class="sr-only">(current)</span><i class="fas fa-info-circle"></i></a>
      </li>
      <script>
        if(page == 'index.html'){
              document.write('<li class="nav-item"><a class="nav-link" href="javascript:show_filters()">Filtrar<i class="fas fa-filter"></i></a></li>')
        }
      </script>
      <li class="nav-item">
        <a class="nav-link" href="/pagina/faqs/">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://einatecagroecologica.pamapam.cat/transformacio/#recursos-transformacio">Recursos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin">Afegir Obrador  <i class="fas fa-map-marker-alt"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pagina/contacte/">Contacte</a>
      </li>
      <li class="nav-item">
        <a target="_blank" href="https://t.me/obradorscompartits"><img style="max-height:30px" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Telegram_Messenger.png"></a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
