{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block title %}Registrar-se{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login register{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}Registrar-se{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p  class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

    <div id="content-main">
      <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
        <div class="form-row">
          {{ form.username.errors }}
          {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
          {{ form.email.errors }}
          {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="form-row">
          {{ form.password1.errors }}
          {{ form.password1.label_tag }} {{ form.password1 }} <small>(mínim 7 caràcters)</small>
          <input type="hidden" name="next" value="{{ next }}">
        </div>
        <div class="form-row">
          {{ form.password2.errors }}
          {{ form.password2.label_tag }} {{ form.password2 }}
          <input type="hidden" name="next" value="{{ next }}">
        </div>

        <div class="submit-row">
          <label>&nbsp;</label><input type="submit" value="Registrar-se">
        </div>
      </form>
    <!-- <form method='post' action=''>{% csrf_token %}
        {{ form.as_table }}
        <tr><td></td><td><input type="submit" value="Registrar-se" /></td>
    </form> -->
</div>
{% endblock %}
